[Desktop Entry]
Type=Application
Name=DTU Lab Wallboard
Exec=chromium --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble http://127.0.0.1:3100/wallboard
X-GNOME-Autostart-enabled=true
